
@{
    ViewData["Title"] = "Miss You";
}

<div class="text-center">
    <h3>Miss You</h3>
    <br/>
    <br/>
    <h4>To nás mrzí, budeš nám chybět.</h4>
    <br />
    <h4>Kdyby jsi si to rozmyslel tak urcitě dej vědet na 732 213 553, nebo znovu načti pozvanku.</h4>
</div>