
@{
    ViewData["Title"] = "Program";
}

<div class="text-center">
    <h3>Program</h3>
    <br/>
    <div class="text-left">
        <h4><span class="flow-text3 ">12:00</span> - Příjezd, drobné občerstvení</h4>
        <h4><span class="flow-text3 ">13:00</span> - Obřad</h4>
        <h4><span class="flow-text3 ">13:30</span> - Svatební hostina</h4>
        <h4><span class="flow-text3 ">14:30</span> - Focení</h4>
        <h4><span class="flow-text3 ">16:00</span> - Krájení dortu</h4>
        <h4><span class="flow-text3 ">18:00</span> - Tanec s nevěstou</h4>
        <h4><span class="flow-text3 ">18:00</span> - Raut a svatební párty</h4>
    </div>
    <br />

    <a class="btn btn-danger btn-lg" asp-controller="Home" asp-action="Question1">A co dál?</a>
</div>