
@{
    ViewData["Title"] = "Question1";
}

<div class="text-center">
    
    <h3>Máme ještě jeden dotaz.</h3>
    <br/>
    <h4>Jsi ochotný přijet uz v patek a byt soucasti zbesileho zdobiciho týmu?</h4>
    <br />


    <a class="btn btn-default" asp-controller="Home" asp-action="Question1No">Ne</a>
    <a class="btn btn-danger btn-lg" asp-controller="Home" asp-action="Question1Yes">Ano</a>
</div>