
@{
    ViewData["Title"] = "Question1";
}

<div class="text-center">
    
    <h3>Dotaz 2</h3>
    <br/>
    <h4>A těšíš se?</h4>
    <br />


    <a class="btn btn-default" asp-controller="Home" asp-action="Question2No">Ne</a>
    <a class="btn btn-danger btn-lg" asp-controller="Home" asp-action="Question2Yes">Ano</a>
</div>