
@{
    ViewData["Title"] = "Thanks";
}


<div class="text-center">
    <br/>
    <br/>
    <h4>Dekujem ti, kdyby jsi cokoliv potreboval najdes to na adrese:</h4>
    <br />
    <h3><a href="http://www.hlavoj.wz.cz/sv">www.vlsvatba.cz</a></h3>
    <br />
    <h4> Budeme se na tebe tesit.</h4>
</div>