
@{
    ViewData["Title"] = "WantProgram";
}

<div class="text-center">
    <h3>Chces vidět program?</h3>
    <br/>
    <a class="btn btn-default" asp-controller="Home" asp-action="Question1">Teď ne</a>
    <a class="btn btn-danger btn-lg" asp-controller="Home" asp-action="Program">Jasně chci</a>
</div>