
@{
    ViewData["Title"] = "Thanks";
}


<div class="text-center">
    <br/>
    <br/>
    <h4>Neco se nepovedlo:</h4>
    <br />
    <h3><a href="http://www.hlavoj.wz.cz/sv">www.vlsvatba.cz</a></h3>
    <br />
    <h4> Volej hot-line 732213553.</h4>
</div>